.table-container {
  max-width: 95%;
  margin: auto;
}

.table thead th {
  background-color: #03588c; /* 03588c o 398CBF */
  color: white;
  font-weight: bold;
}

.table td,
.table th {
  padding: 0.75rem;
  text-align: left;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.table-responsive {
  overflow-x: auto;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .table td, .table th {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
