.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar-container{
    display: flex;
    flex-direction: column;

}

.title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    justify-content: center
}